<div class="px-2 py-2">
  <h4 class="text-xl font-bold"><%= link_to 'Blog', blogs_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'Content Section', content_sections_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'CTA', cta_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'EcommerceList', ecommercelist_index_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'Newsletter', newsletters_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'Pricing', pricings_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'SignUp', signups_path %></h4>
</div>

